.GamesBody{
    background-color: rgb(133, 181, 93);
    width:100%;
    padding: 20px;
    min-height: 735px;
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    justify-content: center;
    padding-top: 120px;
}
.gamescard{
    background-color:rgb(214, 255, 201);
    width: 189px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}